:root {
    --back: #27374D;
    --mess: #1B6B93;
    --header: #164B60;
    --textbox: #4FC0D0;
    --green: #A2FF86;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--header);
}

::-webkit-scrollbar-thumb {
    background: var(--textbox);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--green);
  }

body {
    background-color: var(--back);
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.background {
    display: flex;
    justify-content: flex-start;
}

.main {
    border: var(--mess) solid 3px;
    border-bottom: none;
    border-top: none;
    width: 60%;
}

.header {
    background-color: var(--header);
    height: 45px;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.profilec {
    height: 100%;
    display: flex;
    align-items: center;
}

.profileP {
    height: 90%;
    border-radius: 100px;
}

.username {
    margin: 0px 5px;
    color: var(--green);
}

.h {
    overflow: scroll;
    overflow-x: hidden;
    height: 552px;
}

.middle {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    overflow: hidden;
    position: relative;
}

.messege-b {
    background-color: var(--mess);
    width: auto;
    max-width: 80%;
    word-break: break-all;
    min-height: 20px;
    height: auto;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.messege-c {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#m {
    margin-left: auto;
}

#u {
    margin-right: auto;
}

.messege-b>p {
    margin: 0px;
    font-size: 15px;
    color: white;
    line-height: 20px;
}


.footer {
    background-color: var(--header);
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
    height: 60px;
}

input {
    outline: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: var(--textbox);
    border: black solid 1px;
    color: white;
    border-radius: 50px;
}

.textbox {
    width: 70%;
    height: 50%;
    padding: 0px 10px;
}

.send-btn {
    width: auto;
    height: auto;
    border-radius: 30px;
    border: none;
    background-color: var(--header);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sendi {
    width: 60px;

}

.send-btn:hover {
    background-color: #28637a;
}

.send-btn:active {
    background-color: var(--header);
}

.loginc,
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginc {
    height: 545px;
}

.login {
    max-width: 20%;
    background-color: var(--header);
    border: var(--mess) solid 3px;
    border-radius: 15px;
    padding: 20px;
}

label {
    margin-right: auto;
    margin-bottom: 5px;
    color: var(--green);
}

.log-txt {
    height: 20px;
    width: 95%;
    padding: 0px 10px;
    margin-bottom: 5px;
}

.btn-c {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.log-btn {
    padding: 5px;
    background-color: var(--textbox);
    border: black solid 1px;
    border-radius: 10px;
}

.log-btn:hover {
    color: white;
}

.log-btn:active {
    color: black;
}

.usere {
    color: red;
}

.v {
    height: 667px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 20%;
}

.friendc {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.friend {
    display: flex;
    height: 70px;
    border-bottom: var(--green) solid 2px;
    cursor: pointer;
    padding: 10px 20px;
    transition: border-radius 0.15s;
}

.friend:hover {
    background-color: #3b5374;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.friend:active {
    border: none;
    height: 72px;
}

.friend-p {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 30px;
}

.friend-name {
    font-size: 20px;
    color: white;
}

#s {
    color: var(--green);
}

.no-messege {
    color: white;
}

button {
    cursor: pointer;
}