body {
    background-color: #282c34;
    padding: 0;
    margin: 0;
}



.header {
    background-color: #2d3e61;

    padding: 2px 10px;
    height: 45px;
    display: flex;
    align-items: center;
}

.profileP {
    height: 90%;
    border-radius: 100px;
    margin-left: auto;
}

.middle {
    display: flex;
    flex-direction: column;

}

.messege-b {
    background-color: #4c78d1;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 3px 25px;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#m{
    margin-left: auto;
}

.messege-b>p {
    font-size: 24px;
}