:root {
    --back: #0D1117;
    --yellow: #F1E000;
    --header: #212935;
    --blue: #72E6E3;
    --green: #39FF14;
    --red: #FF3131;
    --grey: #bdbdbd;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--green);
}

body {
    background-color: var(--back);
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
}

#root {
    height: 100%;
}

.background {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.main {
    border: var(--yellow) solid 3px;
    border-bottom: none;
    border-top: none;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45px 1fr 60px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.header {
    background-color: var(--header);
    height: 45px;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 5;
}

.logo>span {
    font-size: 24px;
    font-weight: 500;
}

#a {
    color: var(--green);
}

#b {
    color: var(--blue);
}

#c {
    color: var(--yellow);
}

#d {
    color: var(--red);
}


.sect {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.profilec {
    height: 100%;
    display: flex;
    align-items: center;
}

.profileP {
    height: 90%;
    border-radius: 100px;
}


.username {
    margin: 0px 5px;
    color: var(--green);
}

.log-out {
    background-color: var(--blue);
    border: solid var(--green) 1px;
    padding: 5px;
    border-radius: 15px;
    color: white;
}

.log-out:hover {
    color: black;
}

.log-out:active {
    border: solid black 1px;
}

.h {
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    grid-area: 2 / 1 / 3 / 2;
}

.middle {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    overflow: hidden;
    position: relative;

}

.messege-b {
    border: solid 2px var(--yellow);
    width: auto;
    max-width: 80%;
    word-break: break-all;
    min-height: 20px;
    height: auto;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.messege-c {
    width: auto;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}


#m {
    justify-content: flex-end;
}

#u {
    justify-content: start;
}

.messege-b>p {
    margin: 0px;
    font-size: 15px;
    color: var(--grey);
    line-height: 20px;
}

.prifile-m {
    border-radius: 30px;
    width: 50px;
}

#del {
    filter: invert(22%) sepia(59%) saturate(1666%) hue-rotate(331deg) brightness(91%) contrast(88%);
    cursor: pointer;
    font-size: 20px;
}

#del:hover {
    filter: invert(41%) sepia(100%) saturate(4653%) hue-rotate(343deg) brightness(100%) contrast(107%);
}

.footer {
    background-color: var(--header);
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
    height: 60px;
    grid-area: 3 / 1 / 4 / 2;
    box-sizing: border-box;
}

input {
    outline: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: transparent;
    border: var(--blue) solid 2px;
    color: var(--grey);
    border-radius: 50px;
}

.textbox {
    width: 70%;
    height: 50%;
    padding: 0px 10px;
}

.send-btn {
    width: auto;
    height: auto;
    border-radius: 30px;
    border: none;
    margin-right: 7%;
    background-color: var(--header);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
}

#sendi {
    width: 60px;
    filter: invert(73%) sepia(46%) saturate(3848%) hue-rotate(64deg) brightness(115%) contrast(105%);
}

.send-btn:hover>#sendi {
    filter: invert(71%) sepia(82%) saturate(574%) hue-rotate(8deg) brightness(106%) contrast(101%);
    ;
}

.send-btn:active>#sendi {
    filter: invert(71%) sepia(78%) saturate(231%) hue-rotate(129deg) brightness(99%) contrast(94%)
}

.loginc,
.login,
.ff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginc {
    height: 545px;
}

.ff {
    max-width: 20%;
    background-color: var(--header);
    border: var(--yellow) solid 3px;
    border-radius: 15px;
    padding: 20px;
}

.login {
    width: 100%;

}

label {
    margin-right: auto;
    margin-bottom: 5px;
    color: var(--green);
}

.log-txt {
    height: 20px;
    width: 95%;
    padding: 0px 10px;
    margin-bottom: 5px;
}


.log-btn {
    padding: 5px;
    background-color: transparent;
    border: var(--blue) solid 2px;
    border-radius: 10px;
    color: var(--grey);
    margin-bottom: 5px;
}

.log-btn:hover {
    border: var(--yellow) solid 2px;

}

.log-btn:active {
    border: var(--green) solid 2px;

}

.usere {
    color: red;
}

.v {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 20%;
}

.friendc {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.friend {
    display: flex;
    height: 70px;
    border-bottom: var(--green) solid 2px;
    cursor: pointer;
    padding: 10px 20px;
    transition: border-radius 0.15s;
}

.friend:hover {
    background-color: var(--header);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.friend:active {
    border: none;
    height: 72px;
}

.friend-p {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 30px;
}

.friend-name {
    font-size: 20px;
    color: white;
}

#s {
    color: var(--green);
}

.no-messege {
    color: white;
}

button {
    cursor: pointer;
}

.sign-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.hf {
    background-color: var(--header);
    padding: 20px;
    border: solid 3px var(--yellow);
    border-radius: 30px;
}

.sign-form {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.sl {
    height: 25px;
    padding: 0px 8px;
    width: 100%;
}

.mm::-webkit-file-upload-button {
    background-color: transparent;
    border: none;
    border-right: solid 2px var(--blue);
    color: var(--blue);
    cursor: pointer;
}

.sign-btn {
    padding: 10px;
    border: solid var(--yellow) 2px;
    border-radius: 15px;
    background-color: transparent;
    color: var(--yellow);
    margin-top: 5px;
}

.sign-btn:hover {
    border: solid var(--green) 2px;
    color: var(--green);
}

.sign-btn:active {
    border: solid var(--blue) 2px;
    color: var(--blue);
}

.ll {
    border: none;
    background-color: transparent;
    color: #943232;
}

.ll:hover {
    color: var(--red);
}

.profile-c {
   width: 20%;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   margin: 60px 0px;
}

.p-i {
    width: 50%;
    border-radius:100%;
    border: var(--blue) solid 3px;
}

.p-u {
    color: var(--yellow);
    font-size: 30px;
}

.log-out {
    background-color: transparent;
    border: solid #c73333 2px;
    color: #c73333;
}

.log-out:hover {
    border: solid var(--red) 2px;
    color: var(--red);
}


